.height{
    line-height: 1.5;
    /* z-index: -333 !important;
    position: relative; */
    /* text-indent: 20px; */
}
.indent{
    display: block;
    
}
.anim{
    margin-top:100px ;
}
.search{
    width: 55%;
    padding: 18px ;
    /* position: relative;
    z-index: -333 !important; */
}
@media (max-width:980px) {
    .search,.hide{
       visibility: hidden;
    }
    
}