.scontainer {
    padding: 80px 20px;
    /* border: 1px solid lightgray; */
    margin-top: 30px;
    
  }
  
  .ssize {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .sdesc {
    color: #6c757d;
    font-size: 1.3rem;
    line-height: 1.2;
    text-align: center;
  }
  
  button {
    background-color: #2563eb;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .circle{
    top: 90%;
    right: 20%;
    transform: translate(-50%,-50%);
  }
  
  button:hover {
    background-color: #1e40af;
  }
  
  .button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-container::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background: url('https://www.svgrepo.com/show/353655/circle-lines.svg') no-repeat center;
    background-size: contain;
    z-index: -1;
  }
  
  @media (max-width: 768px) {
    .row {
      text-align: center;
    }
  
    .button-container {
      justify-content: center;
    }
  }
  